# Prerequisites
*.d

out
.idea/
cmake-build-debug/
.vs/
*.txt

.vs/
build/
BOARD.TXT

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.db
*.sqlite

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.ilk
*.pdb

# Executables
*.exe
*.out
*.app

#Cmake

cmake-build-debug
